.kek1 {
    background-color: #6ED1FF;
}
body {
    background-color: #0069AB;
}
.review {
    justify-content: space-evenly;
}
.sarga {
    background-color: #FFFBB5;
    margin: auto;
    margin-top: 2rem;
}
.sor{
    margin-left: 10%;
    margin-right: 10%;
}
.pfp{
    
}